<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.UserInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Students.GivenName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text" [(ngModel)]="model.person.givenName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Students.FamilyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text" [(ngModel)]="model.person.familyName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Students.FatherName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="middleName" name="middleName" type="text" [(ngModel)]="model.person.fatherName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="title" [translate]="'Students.MotherName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="title" name="title" type="text" [(ngModel)]="model.person.motherName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Students.studentIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [(ngModel)]="model.studentIdentifier">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="userName" [translate]="'Students.UserName'"></label>
                <div *ngIf = "model.user; else noUser ">
                  <input [disabled]="true" class="form-control bg-white" id="userName" name="userName" type="text" [(ngModel)]="model.user.name">
                </div>
                <ng-template #noUser><input [disabled]="true" class="form-control bg-white" id="userName2" name="userName" type="text"></ng-template>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Students.Email'"></label>
                <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text" [(ngModel)]="model.person.email">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.RatingInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Students.studentStatus'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studentStatus" name="studentStatus" type="text" [value]="'StudentStatuses.' + model.studentStatus.alternateName | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Students.GraduationTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationTitle	" name="graduationTitle	" type="text" [(ngModel)]="model.graduationTitle	">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Students.studyProgram'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyProgram" name="studyProgram" type="text" [(ngModel)]="model.studyProgram.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Students.Specialty'"></label>
                <input [disabled]="true" class="form-control bg-white" id="specialty" name="specialty" type="text" [(ngModel)]="model.specialty">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Students.studentIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studentIdentifier" name="studentIdentifier" type="text" [(ngModel)]="model.studentIdentifier">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="userName" [translate]="'Students.inscriptionYear'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="inscriptionYear" name="inscriptionYear" type="text" [(ngModel)]="model.inscriptionYear.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Students.inscriptionPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionPeriod" name="inscriptionPeriod" type="text" [value]="'Periods.' + model.inscriptionPeriod.alternateName | translate">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.Contact'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Students.HomeAddress'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddress" name="homeAddress" type="text" [(ngModel)]="model.person.homeAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Students.HomeCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCity" name="homeCity" type="text" [(ngModel)]="model.person.homeCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Students.HomeCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCountry" name="homeCountry" type="text" [(ngModel)]="model.person.homeCountry">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Students.HomePhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="omePhone	" name="omePhone	" type="text" [(ngModel)]="model.person.homePhone	">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
