<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Courses.General'"
         [routerLink]="['general']" [routerLinkActive]="'active'"></a>
    </li>
  </ul>


  <router-outlet></router-outlet>
</div>
