<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Courses.CourseInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="displayCode" [translate]="'Courses.displayCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="displayCode" name="displayCode" type="text" [(ngModel)]="model.displayCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="name" [translate]="'Courses.name'"></label>
                <input [disabled]="true" class="form-control bg-white" id="name" name="name" type="text" [(ngModel)]="model.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="subtitle" [translate]="'Courses.subtitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="subtitle" name="subtitle" type="text" [(ngModel)]="model.subtitle">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="units" [translate]="'Courses.units'"></label>
                <input [disabled]="true" class="form-control bg-white" id="units" name="units" type="text" [(ngModel)]="model.units">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="isEnabled" [translate]="'Courses.isEnabled'"></label>
                <input [disabled]="true" class="form-control bg-white" id="isEnabled" name="isEnabled" type="text" [value]="(model.isEnabled ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="isShared" [translate]="'Courses.isShared'"></label>
                <input [disabled]="true" class="form-control bg-white" id="isShared" name="isShared" type="text" [value]="(model.isShared ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="isCalculatedInScholarship" [translate]="'Courses.isCalculatedInScholarship'"></label>
                <input [disabled]="true" class="form-control bg-white" id="isCalculatedInScholarship" name="isCalculatedInScholarship" type="text" [value]="(model.isCalculatedInScholarship ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="isLocal" [translate]="'Courses.isLocal'"></label>
                <input [disabled]="true" class="form-control bg-white" id="isLocal" name="isLocal" type="text" [value]="(model.isLocal ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <div class="form-group text-dark">
                  <label for="courseUrl" [translate]="'Courses.courseUrl'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="courseUrl" name="courseUrl" type="text" [(ngModel)]="model.courseUrl">
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <div class="form-group text-dark">
                  <label for="notes" [translate]="'Courses.notes'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="notes" name="notes" type="text" [(ngModel)]="model.notes">
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <div class="form-group text-dark">
                  <label for="replacedCourse" [translate]="'Courses.replacedCourse'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="replacedCourse" name="replacedCourse" type="text" [(ngModel)]="model.replacedCourse">
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <div class="form-group text-dark">
                  <label for="ects" [translate]="'Courses.ects'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="ects" name="ects" type="text" [(ngModel)]="model.ects">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model?.department">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Courses.Department'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseDepartmentName" [translate]="'Courses.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseDepartmentName" name="CourseDepartmentName" type="text" [(ngModel)]="model.department.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseDepartmentAbbreviation" [translate]="'Courses.Abbreviation'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseDepartmentAbbreviation" name="CourseDepartmentAbbreviation" type="text" [(ngModel)]="model.department.abbreviation">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseDepartmentCity" [translate]="'Courses.departmentCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseDepartmentCity" name="CourseDepartmentCity" type="text" [(ngModel)]="model.department.city">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model?.instructor">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Courses.InstructorInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Courses.instructorFamilyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyName" name="status" type="text" [(ngModel)]="model.instructor.familyName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Courses.instructorGivenName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text" [(ngModel)]="model.instructor.givenName">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model?.courseArea">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Courses.CourseArea'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseAreaName" [translate]="'Courses.areaName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseAreaName" name="CourseAreaName" type="text" [(ngModel)]="model.courseArea.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseAreaAbbreviation" [translate]="'Courses.Abbreviation'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseAreaAbbreviation" name="CourseAreaAbbreviation" type="text" [(ngModel)]="model.courseArea.abbreviation">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model?.courseSector">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Courses.CourseSector'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseSectorName" [translate]="'Courses.sectorName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseSectorName" name="CourseSectorName" type="text" [(ngModel)]="model.courseSector.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseSectorAbbreviation" [translate]="'Courses.Abbreviation'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseSectorAbbreviation" name="CourseSectorAbbreviation" type="text" [(ngModel)]="model.courseSector.abbreviation">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model?.courseCategory">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Courses.CourseCategory'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseCategoryName" [translate]="'Courses.categoryName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseCategoryName" name="CourseCategoryName" type="text" [(ngModel)]="model.courseCategory.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CourseCategoryDescription" [translate]="'Courses.CategoryDescription'"></label>
                <input [disabled]="true" class="form-control bg-white" id="CourseCategoryDescription" name="CourseCategoryDescription" type="text" [(ngModel)]="model.courseCategory.description">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
