<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">

    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Scholarships.GeneralInfoTab.title'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="scholarshipname" [translate]="'Scholarships.Name'"></label>
                <input [disabled]="true" class="form-control bg-white" id="scholarshipname" name="scholarshipname" type="text" [(ngModel)]="model.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="department" [translate]="'Scholarships.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text" [(ngModel)]="model.department.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="organization" [translate]="'Scholarships.Organization'"></label>
                <input [disabled]="true" class="form-control bg-white" id="organization" name="organization" type="text" [(ngModel)]="model.organization">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="academicyear" [translate]="'Scholarships.YearAlternateName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="academicyear" name="academicyear" type="text" [(ngModel)]="model.year.alternateName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Scholarships.Id'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [(ngModel)]="model.id">
              </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                  <label for="status" [translate]="'Scholarships.StatusName'"></label>
                  

                  <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'Scholarships.StatusAlternateName.' + model.status.alternateName | translate">

                </div>
              </div>
            
            
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
