<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Instructors.General'"
         [routerLink]="['general']" [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Instructors.Classes'"
         [routerLink]="['classes']" [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Instructors.Exams'"
         [routerLink]="['exams']" [routerLinkActive]="'active'"></a>
    </li>
  </ul>


  <div>
    <router-outlet></router-outlet>
  </div>

</div>
