<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/instructors/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Instructors.Title'"></span></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-light">
            <span class="text-dots"></span>
          </button>
        </div>
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-light pl-5 pr-5"
                  [translate]="'Instructors.New'"></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-success pl-5 pr-5"
                  [translate]="'Instructors.Export'">Action</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark"> {{model.familyName}} {{model.givenName}}</h2>
    </div>
  </div>
</div>

<router-outlet></router-outlet>





