<h1 class="mb-4" [translate]="'Requests.Edit.Title'"></h1>

<div class="row ">

  <!--  Left column -->
  <div class="col-lg-9 col-md-6 col-sm-12">

    <!--  Details -->
    <div class="card shadow-none border border-gray-200 text-secondary">
      <div class="card-body">
        <div>
          <span class="float-right text-dark">{{ request?.dateCreated | date:'short' }}</span>
          <div class="card-title  font-lg font-weight-normal pb-1" [translate]="'Requests.Edit.MessageTitle'"></div>
        </div>
        <div class="card-text mb-4 pb-2">{{ request?.object?.name }}</div>
        <div class="card-title font-lg font-weight-normal pb-1" [translate]="'Requests.Edit.RequestTitle'"></div>
        <div class="card-text mb-4 ">{{ request?.description }}</div>
      </div>
    </div>

    <!--  Responses -->
    <div *ngIf="this?.request?.messages">
      <div class="card shadow-none border border-gray-200 text-secondary"  *ngFor="let message of this?.request?.messages">
        <div class="card-body">
          <div>
            <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
            <div class="card-title  font-lg font-weight-normal pb-1" [translate]="'Requests.Edit.ResponseTitle'"></div>
          </div>
          <div class="card-text mb-4 pb-2">{{ message?.body }}</div>
          <div *ngIf="message?.attachments.length>0">
            <button type="button" class="btn btn-light" (click)="downloadFile(message?.attachments)">{{ 'Requests.Edit.DownloadFile' | translate }}</button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse mb-5" *ngIf="showNewResponseButton">
        <button type="button" class="btn btn-light float-right" (click)="showResponseForm=true" [translate]="'Requests.Edit.NewResponse'"></button>
      </div>
    </div>

    <!--  Form -->
    <div *ngIf="showResponseForm">
      <div class="card">
        <div class="card-body">
          <form #responseForm="ngForm">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="font-lg text-secondary" for="response" [translate]="'Requests.Edit.Response'"></label>
                  <textarea class="form-control" id="response" rows="3" required [(ngModel)]="responseModel.body" [maxLength]="512"
                         name="messageBody"   placeholder="{{'Requests.Edit.ResponsePlaceHolder' | translate}}" ></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 col-sm-12">
                <div class="form-group">
                  <label class="font-lg text-secondary" for="filename" [translate]="'Requests.Edit.AttachFiles'"></label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="form-control custom-file-input" id="filename" aria-describedby="filename" name="filename"
                             (change)="onFileChanged($event)" (click)="reset()" #fileinput  >
                      <label class="custom-file-label text-placeholder" for="filename" [translate]="'Requests.Edit.AttachFilesPlaceHolder'">{{responseModel?.attachment?.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-right">
                  <button class="btn btn-md text-light bg-danger mr-auto px-4 mr-sm-4 mt-2" type="button"
                          *ngIf="showCancelButton" (click)="cancelAction()" [translate]="'Requests.Edit.CancelRequest'" [disabled]="responseForm.invalid"></button>

                  <button class="btn btn-md text-light bg-success px-4 mt-2" type="button"
                        (click)="completeAction()" [translate]="'Requests.Edit.Submit'" [disabled]="responseForm.invalid"></button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--  Right column -->
  <div class="col-lg-3 col-md-6 col-sm-12">
    <!--  List -->
    <div id="list1" class="card shadow-none border border-gray-200 text-gray-200">
      <div class="card-body">
        <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Requests.Edit.ApplicationDetails'"></h5>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.Code'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ request?.id }}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.Type'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ 'StudentRequestActionsTypes.' + request?.additionalType | translate}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.Status'"></span>
          </div>
          <div class="col-7">
            <span [ngClass]="{'text-primary': request?.actionStatus?.alternateName ==='PotentialActionStatus',
                                'text-danger': (request?.actionStatus?.alternateName ==='FailedActionStatus') || request?.actionStatus?.alternateName ==='CancelledActionStatus',
                                'text-success': request?.actionStatus?.alternateName ==='CompletedActionStatus',
                                'text-purple': request?.actionStatus?.alternateName ==='ActiveActionStatus'}">
              {{ 'ActionStatusTypes.' + request?.actionStatus?.alternateName | translate}}
            </span>
          </div>
        </div>
        <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Requests.Edit.UserDetails'"></h5>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.Firstname'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ request?.student?.person?.givenName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.Lastname'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ request?.student?.person?.familyName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.DepartmentId'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ request?.student?.studentIdentifier}}</span>
          </div>
        </div>
        <div class="form-group row" *ngIf="request?.student?.uniqueIdentifier">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.UniversityId'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ request?.student?.uniqueIdentifier}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.Status'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ 'StudentStatuses.' + request?.student?.studentStatus?.alternateName | translate}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <span class="text-secondary" [translate]="'Requests.Edit.InscriptionYear'"></span>
          </div>
          <div class="col-7">
            <span class="text-dark">{{ request?.student?.inscriptionYear?.alternateName}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

