<div>
  <div class="row">
    <div class="col-12">
      <div class="s--list-navbar d-none d-sm-block">
        <form class="form-inline p-3 col">
          <div class="form-group col-7">
            <label class="pr-3" for="searchText" [translate]="'Instructors.Filter'"></label>
            <input (keydown)="onSearchKeyDown($event)" spellcheck="false" type="text" id="searchText" name="searchText"
                   class="form-control col text-left" placeholder="{{ 'Instructors.SearchPlaceholder' | translate }}" >
          </div>
          <div class="form-group col-5">
            <label class="pr-3" for="selectBox" [translate]="'Instructors.Category'"></label>
            <select (change)="onSelectBoxChange($event)" id="selectBox" class="form-control">
              <option [value]="null" [translate]="'Instructors.None'"></option>
              <option [value]="1" [translate]="'Instructors.Active'"></option>
              <option [value]="2" [translate]="'Instructors.Inactive'"></option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>

</div>
