<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Internships.InternshipInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Internships.Id'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [(ngModel)]="model.id">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="department" [translate]="'Internships.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text" [(ngModel)]="model.department.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studentIdentifier" [translate]="'Internships.StudentIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studentIdentifier" name="studentIdentifier" type="text" [(ngModel)]="model.student.studentIdentifier">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="internshipPeriod" [translate]="'Internships.InternshipPeriodAlternateName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="internshipPeriod" name="internshipPeriod" type="text" [value]="'Periods.' + model.internshipPeriod.alternateName | translate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="CompanyContact" [translate]="'Internships.CompanyContact'"></label>
                <input [disabled]="true" class="form-control bg-white" id="companyContact" name="companyContact" type="text" [(ngModel)]="model.companyContact">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="status" [translate]="'Internships.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'Internships.InternshipStatus.' + model.status.alternateName | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="startDate" [translate]="'Internships.StartDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="startDate" name="startDate" type="text" [value]="model.startDate | date : 'shortDate'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="dateCompleted" [translate]="'Internships.DateCompleted'"></label>
                <input [disabled]="true" class="form-control bg-white" id="dateCompleted" name="dateCompleted" type="text" [value]="model.dateCompleted | date : 'shortDate'">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

