<div>
  <h4 class="mb-3">Simple List</h4>
  <div class="row">
    <div id="list1" class="card shadow-none border border-gray-200 text-gray-200">
      <div class="card-body">
        <h5 class="card-title font-lg font-weight-normal text-secondary">Application Details</h5>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">CODE</span>
            </div>
            <div class="col-7">
              <span class="text-dark">234242424</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">TYPE</span>
            </div>
            <div class="col-7">
              <span class="text-dark">Application Certificate</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">STATUS</span>
            </div>
            <div class="col-7">
              <span class="text-info">On Hold</span>
            </div>
          </div>
        <h5 class="card-title font-lg font-weight-normal text-secondary">User Details</h5>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">FIRST NAME</span>
            </div>
            <div class="col-7">
              <span class="text-dark">First Name</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">LAST NAME</span>
            </div>
            <div class="col-7">
              <span class="text-dark">Last Name</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">DEPARTMENT ID</span>
            </div>
            <div class="col-7">
              <span class="text-dark">0000</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">UNIVERSITY ID</span>
            </div>
            <div class="col-7">
              <span class="text-dark">00000000000000</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">STATUS</span>
            </div>
            <div class="col-7">
              <span class="text-dark">Active</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-5">
              <span class="text-secondary">INSCRIPTION YEAR</span>
            </div>
            <div class="col-7">
              <span class="text-dark">2000-2001</span>
            </div>
          </div>
      </div>
    </div>
    <div class="mt-2 col-lg-12">
      <app-highlight highlight="'#list1'"></app-highlight>
    </div>
  </div>
</div>
