<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Exams.ExamInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="displayCode" [translate]="'Exams.DisplayCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="displayCode" name="displayCode" type="text" [(ngModel)]="model.course.displayCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="courseName" [translate]="'Exams.CourseName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="courseName" name="courseName" type="text" [(ngModel)]="model.course.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="year" [translate]="'Exams.Year'"></label>
                <input [disabled]="true" class="form-control bg-white" id="year" name="year" type="text" [(ngModel)]="model.year.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="examPeriod" [translate]="'Exams.Period'"></label>
                <input [disabled]="true" class="form-control bg-white" id="examPeriod" name="examPeriod" type="text" [(ngModel)]="model.examPeriod.name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="numberOfGradedStudents" [translate]="'Exams.NumberOfGradedStudents'"></label>
                <input [disabled]="true" class="form-control bg-white" id="numberOfGradedStudents" name="numberOfGradedStudents" type="text" [(ngModel)]="model.numberOfGradedStudents">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="status" [translate]="'Exams.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'ExamStatus.' + model.status.alternateName | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="dateCompleted" [translate]="'Exams.DateCompleted'"></label>
                <input [disabled]="true" class="form-control bg-white" id="dateCompleted" name="dateCompleted" type="text" [value]="model.dateCompleted | date:'shortDate'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="completedByUser" [translate]="'Exams.CompletedByUser'"></label>
                <input [disabled]="true" class="form-control bg-white" id="completedByUser" name="completedByUser" type="text" [(ngModel)]="model.completedByUser.name">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

