<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">

    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
          class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
          (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'StudyPrograms.GeneralInfoTab.title'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studyprogramname" [translate]="'StudyPrograms.Νame'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyprogramname" name="studyprogramname"
                  type="text" [(ngModel)]="model.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="departmentname" [translate]="'StudyPrograms.DepartmentName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="departmentname" name="departmentname" type="text"
                  [(ngModel)]="model.department.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="semesters" [translate]="'StudyPrograms.Semesters'"></label>
                <input [disabled]="true" class="form-control bg-white" id="semesters" name="semesters" type="text"
                  [(ngModel)]="model.semesters">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studylevel" [translate]="'StudyPrograms.StudyLevel'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studylevel" name="studylevel" type="text"
                  [value]="'StudyPrograms.GeneralInfoTab.studyLevel.' + model.studyLevel.alternateName | translate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'StudyPrograms.ID'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
                  [(ngModel)]="model.id">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="datemodified" [translate]="'StudyPrograms.GeneralInfoTab.studyLevel.dateModified'"></label>
                <input [disabled]="true" class="form-control bg-white" id="datemodified" name="datemodified" type="text" [value]="model.studyLevel.dateModified | date : 'shortDate'">
              </div>
            </div>


          </div>
        </form>
      </div>
    </div>

  </div>
</div>