<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Theses.UserInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Theses.GivenName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text" [(ngModel)]="model.student.person.givenName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Theses.FamilyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text" [(ngModel)]="model.student.person.familyName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="fatherName" [translate]="'Theses.FatherName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="fatherName" name="fatherName" type="text" [(ngModel)]="model.student.person.fatherName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="departmentName" [translate]="'Theses.DepartmentName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="departmentName" name="departmentName" type="text" [(ngModel)]="model.student.department.name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="grade" [translate]="'Theses.Grade'"></label>
                <input [disabled]="true" class="form-control bg-white" id="grade" name="grade" type="text" [(ngModel)]="model.formattedGrade">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="aem" [translate]="'Theses.AEM'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="aem" name="aem" type="text" [(ngModel)]="model.student.studentIdentifier">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="semester" [translate]="'Theses.Semester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="semester" name="semester" type="text" [(ngModel)]="model.student.semester">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

