<div>
    <h4 class="mb-3">Cards</h4>
    <div class="row">
        <div id="card1" class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="mt-2 col-lg-12">
            <app-highlight highlight="'#card1'"></app-highlight>
        </div>
    </div>

  <div>
    <h4 class="mb-3 ">Simple Card</h4>
    <div class="row ">
      <div id="card2" class="col-lg-8 col-md-6 col-sm-12">
        <div class="card shadow-none border border-gray-200 text-secondary">
          <div class="card-body">
            <div>
              <span class="float-right text-dark"> 09/04/2019  11:40</span>
              <div class="card-title  font-lg font-weight-normal pb-1">Simple Card Title 1</div>
            </div>
            <div class="card-text mb-4 pb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
            <div class="card-title font-lg font-weight-normal pb-1">Simple Card Title 2</div>
            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
      <div class="mt-2 col-lg-12">
        <app-highlight highlight="'#card2'"></app-highlight>
      </div>
    </div>

    <h4 class="mb-3">Inline Cards</h4>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>


</div>
