<div>
    <h4 class="mb-3">Group Lists</h4>
    <div id="group-list"  class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_lg_column">Course</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">Code</div>
            <div class="sis--list-group-item_lg_column d-none d-xl-block">Teacher</div>
            <div class="sis--list-group-item_md_column d-none d-lg-block">Exam Period</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Type</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">CP</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">ECTS</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Coeff.</div>
            <div class="sis--list-group-item_sm_column">Grade</div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">Lesson #1</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">Code #1</div>
            <div class="sis--list-group-item_lg_column d-none d-xl-block">
              <div>Teacher #1a</div>
              <div>Teacher #1b</div>
            </div>
            <div class="sis--list-group-item_md_column d-none d-lg-block">FEBR</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Obl</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">0</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">6</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">1</div>
            <div class="sis--list-group-item_sm_column">5</div>
          </div>
        </li>
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">Lesson #2</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">Code #2</div>
            <div class="sis--list-group-item_lg_column d-none d-xl-block">
              <div>Teacher #2</div>
            </div>
            <div class="sis--list-group-item_md_column d-none d-lg-block">SEPT</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Obl</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">0</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">6</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">1</div>
            <div class="sis--list-group-item_sm_column">7.7</div>
          </div>
        </li>
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">Lesson #3</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">Code #3</div>
            <div class="sis--list-group-item_lg_column d-none d-xl-block">
              <div>Teacher #3a</div>
              <div>Teacher #3b</div>
            </div>
            <div class="sis--list-group-item_md_column d-none d-lg-block">FEBR</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Obl</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">0</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">6</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">1</div>
            <div class="sis--list-group-item_sm_column">7.7</div>
          </div>
        </li>
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">Lesson #4</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">Code #4</div>
            <div class="sis--list-group-item_lg_column d-none d-xl-block">
              <div>Teacher #4a</div>
              <div>Teacher #4b</div>
            </div>
            <div class="sis--list-group-item_md_column d-none d-lg-block">FEBR</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Obl</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">0</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">6</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">1</div>
            <div class="sis--list-group-item_sm_column">8.8</div>
          </div>
        </li>
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">Lesson #5</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">Code #5</div>
            <div class="sis--list-group-item_lg_column d-none d-xl-block">
              <div>Teacher #5</div>
            </div>
            <div class="sis--list-group-item_md_column d-none d-lg-block">SEPT</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">Obl</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">0</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">6</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">1</div>
            <div class="sis--list-group-item_sm_column">9.9</div>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="mt-4 col-lg-12">
      <app-highlight highlight="'#group-list'"></app-highlight>
    </div>
  </div>
  