<div class="col-12 tab-navbar tab-container">
  <a class="text-decoration-none text-secondary font-lg" [routerLink]="['../../']">
    <i class="fa fa-chevron-left"></i> {{ 'Exams.Title' | translate }}
  </a>
    <ul class="mt-3 nav nav-tabs d-flex">
      <li class="nav-item">
        <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Exams.General'" [routerLink]="['general']"
          [routerLinkActive]="'active'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Exams.Students'" [routerLink]="['students']"
          [routerLinkActive]="'active'"></a>
      </li>
      <li class="nav-item tab-buttons disabled ml-auto">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group">
          </div>
        </div>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
