<div class="col-12 tab-navbar tab-container">
  <a class="text-decoration-none text-secondary font-lg" [routerLink]="['../../']">
    <i class="fa fa-chevron-left"></i> {{ 'Theses.Title' | translate }}
  </a>
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark"><span [translate]="'Theses.ThesesName'"></span></h2>
    </div>
  </div>
    <ul class="nav nav-tabs d-flex">
      <li class="nav-item">
        <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Theses.General'"
           [routerLink]="['general']" [routerLinkActive]="'active'"></a>
      </li>
    </ul>
    <div>
      <router-outlet></router-outlet>
    </div>
</div>
